<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Cotizaciones.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Fersum" connectionString="Server=BLACKBOX\SQLEXPRESS;Database=Fersum;Trusted_Connection=true"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="CommandTimeout" value="500"/>
  </appSettings>
  <userSettings>
    <Cotizaciones.Properties.Settings>
      <setting name="DefaultUser" serializeAs="String">
        <value />
      </setting>
      <setting name="FontName" serializeAs="String">
        <value>Verdana</value>
      </setting>
      <setting name="LogoFile" serializeAs="String">
        <value>FERSUM logo.bmp</value>
      </setting>
      <setting name="CompanyName" serializeAs="String">
        <value>Fersum</value>
      </setting>
      <setting name="CompanyFullName" serializeAs="String">
        <value>FERSUM, SA de CV</value>
      </setting>
      <setting name="CompanyCity" serializeAs="String">
        <value>San Pedro Garza García, Nuevo León, México</value>
      </setting>
      <setting name="LogFile" serializeAs="String">
        <value>ExceptionsLog.log</value>
      </setting>
      <setting name="NetworkFolder" serializeAs="String">
        <value>C:\Users\Usuario\Documents\tmp</value>
      </setting>
      <setting name="GreetingsMessage" serializeAs="String">
        <value>Anexo cotización solicitada</value>
      </setting>
      <setting name="SignatureLine1" serializeAs="String">
        <value>Tel. 81 1352 9900</value>
      </setting>
      <setting name="SignatureLine2" serializeAs="String">
        <value>Fax 81 1352 9901</value>
      </setting>
      <setting name="SignatureLine3" serializeAs="String">
        <value />
      </setting>
      <setting name="AddCreatorEmailIndicator" serializeAs="String">
        <value>True</value>
      </setting>
    </Cotizaciones.Properties.Settings>
  </userSettings>
</configuration>