<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Cotizaciones.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Fersum" connectionString="Server=AYANTE-SERVER\COMPAC;Database=FersumV2;User Id=carlos;Password=c;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="CommandTimeout" value="500"/>
  </appSettings>
  <userSettings>
    <Cotizaciones.Properties.Settings>
      <setting name="DefaultUser" serializeAs="String">
        <value />
      </setting>
      <setting name="LogFile" serializeAs="String">
        <value>ExceptionsLog.log</value>
      </setting>
      <setting name="FilterLastUserValue" serializeAs="String">
        <value />
      </setting>
      <setting name="FilterLastQuotationIDValue" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FilterLastQuotationStatusTypeID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FilterLastSectionTypeIDValue" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FilterLastPipeDiameterTypeIDValue" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FilterLastDateFromValue" serializeAs="String">
        <value />
      </setting>
      <setting name="FilterLastDateToValue" serializeAs="String">
        <value />
      </setting>
      <setting name="FilterLastCustomerIDValue" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FilterLastCustomerContactIDValue" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FilterLastCompanyIDValue" serializeAs="String">
        <value>0</value>
      </setting>
    </Cotizaciones.Properties.Settings>
  </userSettings>
</configuration>